<div class="container-fluid bg-dark text-white">
  <div class="row">
    <div class="col-xl-3 col-lg-2 col-md-3">
      ¿Quiénes somos?
    </div>
    <div class="col-xl-3 col-lg-4 col-md-4">
      Sobre nuestros productos
    </div>
    <div class="col-xl-3 col-lg-4 col-md-3">
      Clientes
    </div>
    <div class="col-xl-3 col-lg-2 col-md-2">
      Servicios
    </div>
  </div>
  <div class="row justify-content-center pt-1">
      Curso de desarrollo web 
  </div>
  <div class="row justify-content-center pt-1">
      &copy; TORREZNOS S.L.
  </div>
</div>

<!-- <div class="table-responsive-sm">
  <table class="table">
    ...
  </table>
</div>

<div class="table-responsive-md">
  <table class="table">
    ...
  </table>
</div>

<div class="table-responsive-lg">
  <table class="table">
    ...
  </table>
</div>

<div class="table-responsive-xl">
  <table class="table">
    ...
  </table>
</div> -->
