<nav class="bg-dark d-none d-lg-block" >
    <ul class="nav justify-content-center nav-pills nav-fill">
      <li class="nav-item" >
        <a appDirectivaPropia routerLinkActive="active" class="nav-link text-white"  [routerLink]="['/binding']">Binding <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a appDirectivaPropia routerLinkActive="active" class="nav-link text-white" [routerLink]="['/directives']">Directivas</a>
      </li>
      <li class="nav-item">
        <a appDirectivaPropia routerLinkActive="active" class="nav-link text-white" [routerLink]="['/pipes']">Pipes</a>
      </li>
      <li class="nav-item">
        <a appDirectivaPropia routerLinkActive="active" class="nav-link text-white" [routerLink]="['/alumnos']">Conexión BBDD</a>
      </li>
      <li class="nav-item">
        <a appDirectivaPropia routerLinkActive="active" class="nav-link text-white" [routerLink]="['/formulario-contacto']">Contacta</a>
      </li>
      <!-- <li class="nav-item">
        <a appCreadorDirectivaPropia routerLinkActive="active" class="nav-link" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <a appCreadorDirectivaPropia routerLinkActive="active" class="nav-link" href="#">Disabled</a>
      </li> -->
    </ul>
</nav>

<div class="pos-f-t d-lg-none">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

